{{#if status}}
    
{{else}}
    {{#if alert}}
        <div class="alert alert-danger d-flex align-items-center text-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                {{ alert }}
            </div>
        </div>
    {{else}}
        <form class="row g-3 needs-validation hidden" method="POST", action="/services" novalidate>
            <h3>Let's get closer! Let us know more about you.</h3>
            {{> user_form }}
        </form>
    {{/if}}
{{/if}}



